body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(138,26,194,1) 100%);
    background-repeat:inherit;
    
    margin: 15px;
    }

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left-style: inherit;
    width: 195px;
    height: 700px;
}

.perfil {
    width: 190px ;
    height: 230px ;
}

li {
    margin: 25px 25px 0px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centro {
    margin: 1in 6in 0in;
}

.centro2 {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    font-family: 'Sixtyfour', sans-serif;
    margin: 15px 15px 0px;
    color:aqua;

}

.contendor {
    display: flex;
}