body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(138,26,194,1) 100%);
    background-repeat:inherit;
    
    margin: 15px;
    }

nav {
    display: flex;
}


.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 700px;
}

.perfil {
    width: 190px ;
    height: 230px ;
}

li {
    margin: 25px 25px 0px;
    color:aqua;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-align: center;
    
}

.menu {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    height: 400px;
}




.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3in 6in 0in;
}

.art {
    display: flex;
    justify-content: center;
    align-items: center;

}

p, h1, h2{
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
    color:aqua;
}

a{
    text-decoration: none;
}

button{
    border:0;
    background-image: linear-gradient(
        150deg,
        #00DDFF,
        rgb(181, 22, 187),
        #00DDFF
    );
    border-radius: 8px;
color:#fff;
display: flex;
font-size: 18px;
padding: 4px;
cursor: pointer;
transition: .3s;
}

button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span {
    background: none;
}

.c1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2in;
    height: 2in;
}

.txt{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contactbox {
    display: flex;
    justify-content: center;

}